.search-results-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f5ff;
  margin-top: 20px;
}

.search-results-table th,
.search-results-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.search-results-table th {
  background-color: #3399ff;
  color: #fff;
}
